{% extends '::base.html.twig' %}

{% block header %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="#" class="brand">MERA</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="{{ path('facility') }}">Объекты</a></li>
                    </ul>
                    <ul class="nav pull-right">
                    <li><p class="navbar-text"><i
                            class="icon-user"></i> {{ app.user.email }}, {{ app.user.firstName }} {{ app.user.lastName }}
                    </p></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-share"></i> Выйти</a></li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
{% endblock %}

