{% extends 'MeraPostBundle:PostOffice:post.html.twig' %}
{% block post %}
    <h1>Почтовое отделение</h1>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="{{ path('postoffice') }}"><i class="icon-th-list"></i> К
                списку</a>
            <a class="btn" href="{{ path('postoffice_edit', { 'id': entity.id }) }}"><i class="icon-edit""></i>
                Редактировать</a>
            <a class="btn" href="{{ path('postoffice_delete', { 'id': entity.id }) }}"><i class="icon-remove""></i>
                Удалить</a>
        </div>
    </div>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}