{% extends 'MeraAuditBundle:Audit:form/collapseItem.html.twig' %}

{% block collection_row_inner %}
    {{ form_widget(row) }}
{% endblock collection_row_inner %}

{% block collection_row %}
    {% spaceless %}
        <div class="collection-row">
            <h5>{{ form.vars.name }} №{{ row.vars.name }}</h5>

            <div class="row">
                {% set fields = row.children %}
                {{ block('collection_row_inner') }}
            </div>
        </div>
    {% endspaceless %}
{% endblock collection_row %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set row = prototype %}
            {% set attr = attr|merge({'data-prototype': block('collection_row') }) %}
        {% endif %}
        <div class="collection" {{ block('widget_container_attributes') }}>
            <div class="collection-error">
                {{ form_errors(form) }}
            </div>
            <div class="collection-rows">
                {% for row in form %}
                    {{ block('collection_row') }}
                {% endfor %}
            </div>
            <button class="btn btn-primary add-collection-item"><i class="icon-plus-sign icon-white"></i> Добавить
            </button>
        </div>
    {% endspaceless %}
{% endblock collection_widget %}
