{% extends 'MeraAuditBundle:Audit:form/collection.html.twig' %}
{% block collapseTitle %}
    Технические характеристики зданий
{% endblock %}
{% block collapseId %}buildings{% endblock %}


{% form_theme form _self %}
{% block form_row %}
    {% spaceless %}
        <div class="pull-left">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{% block collapseBody %}
    <blockquote>
        <p class="lead">Для каждого здания</p>
    </blockquote>
    {{ form_widget(form.Buildings) }}
{% endblock %}

{#{% for building in form.Buildings %}#}
{#<div class="span12">#}
{#Здание №{{ form_label(building) }}#}
{#</div>#}
{#<div class="span4">#}
{#{{ form_row(building.name) }}#}
{#{{ form_row(building.year) }}#}
{#{{ form_row(building.floors) }}#}
{#{{ form_row(building.height_ceilings) }}#}
{#{{ form_row(building.height_building) }}#}
{#</div>#}
{#<div class="span4">#}
{#{{ form_row(building.volume_building) }}#}
{#{{ form_row(building.volume_heated) }}#}
{#{{ form_row(building.area_total) }}#}
{#{{ form_row(building.area_glazing) }}#}
{#</div>#}
{#<div class="span4">#}
{#{{ form_row(building.perimeter_building) }}#}
{#{{ form_row(building.depreciation_actual) }}#}
{#{{ form_row(building.depreciation_physical) }}#}
{#{{ form_row(building.Common) }}#}
{#</div>#}
{#{% endfor %}#}