{% extends 'MeraAuditBundle:Audit:form/fields.html.twig' %}

{% block collapseTitle %}
Технические характеристики зданий
{% endblock %}

{% block collapseId %}buildings{% endblock %}

{% form_theme form _self %}

{% block collapseBody %}
<blockquote>
    <p class="lead">Для каждого здания</p>
</blockquote>
{{ form_widget(form.Buildings) }}
{% endblock %}


{% block collection_row_inner %}
<div class="row">
    {{ form_row(fields.name,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.depreciation_physical,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.height_ceilings,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.area_glazing,{"attr":{"exclass":"span3", "class":"input-large" }}) }}

    {{ form_row(fields.year,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.depreciation_actual,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.height_building,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.area_total,{"attr":{"exclass":"span3", "class":"input-large" }}) }}

    {{ form_row(fields.floors,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.volume_building,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.area_basement,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.area_heated,{"attr":{"exclass":"span3", "class":"input-large" }}) }}

    {{ form_row(fields.BuildingType,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.perimeter_building,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.area_attic,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
</div>
{% endblock collection_row_inner  %}
