{% extends 'MeraAuditBundle:Audit:form/collapseItem.html.twig' %}
{% block collapseTitle %}
    Общие сведения по предприятию
{% endblock %}
{% block collapseId %}common{% endblock %}
{% block collapseBody %}
    <div class="row">
        <div class="span4">
            {{ form_row(form.address_legal) }}
            {{ form_row(form.address_actual) }}
            {{ form_row(form.tin) }}
            {{ form_row(form.cat) }}
        </div>
        <div class="span4">
            {{ form_row(form.settlement_account) }}
            {{ form_row(form.bic) }}
            {{ form_row(form.bank_name) }}
            {{ form_row(form.agrn) }}
        </div>
        <div class="span4">
            {{ form_row(form.okved) }}
            {{ form_row(form.okp) }}
            {{ form_row(form.Facility) }}
        </div>
    </div>
{% endblock %}
