{% extends 'MeraAuditBundle:Audit:form/fields.html.twig' %}
{% block collapseTitle %}
Техническое описание конструктивных элементов здания
{% endblock %}
{% block collapseId %}construcelem{% endblock %}

{% form_theme form _self %}

{% block collapseBody %}
<blockquote>
    <p class="lead">Какой-то текст</p>
</blockquote>
{{ form_widget(form.ConstructElements) }}
{% endblock %}

{% block collection_row_inner %}
<div class="row">
    {{ form_row(fields.ConstructElementType,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.area,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.width,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.description,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
</div>
{% endblock collection_row_inner %}