{% extends 'MeraAuditBundle:Audit:form/fields.html.twig' %}
{% block collapseTitle %}
Оснащенность организации приборами учета потребления
{% endblock %}
{% block collapseId %}consumptionmeter{% endblock %}

{% form_theme form _self %}

{% block collapseBody %}
{{ form_widget(form.ConsumptionMeters) }}
{% endblock %}

{% block collection_row_inner %}
<div class="row">
    {{ form_row(fields.name,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.precision_class,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.ConsumptionMeterType,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    {{ form_row(fields.verification_date,{"attr":{"exclass":"span3", "class":"input-small" }}) }}
</div>
{% endblock collection_row_inner %}