{% extends 'MeraAuditBundle:Audit:form/fields.html.twig' %}
{% block collapseTitle %}
    Перечень должностных лиц
{% endblock %}
{% block collapseId %}executiveperson{% endblock %}
{% form_theme form _self %}
{% block collapseBody %}
    <blockquote>
        <p class="lead">Какой-то текст</p>
    </blockquote>
    {{ form_widget(form.ExecutivePersons) }}
{% endblock %}

{% block collection_row_inner %}
    <div class="row">
        {{ form_row(fields.name,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.position,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.contact,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.responsibilities,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.document,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.date,{"attr":{"exclass":"span3", "class":"input-small" }}) }}
    </div>
{% endblock collection_row_inner %}