{% extends 'MeraAuditBundle:Audit:form/fields.html.twig' %}
{% block collapseTitle %}
    Документация по системе освещения
{% endblock %}
{% block collapseId %}lightssystem{% endblock %}
{% form_theme form _self %}

{% block collapseBody %}
    <blockquote>
        <p class="lead">Какой-то текст</p>
    </blockquote>
    {{ form_widget(form.LightsSystems) }}
{% endblock %}

{% block collection_row_inner %}
    <div class="row">
        {{ form_row(fields.LightsPlaceType,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.tungsten_quantity,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.fluorescent_quantity,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.energy_save_quantity,{"attr":{"exclass":"span3", "class":"input-large" }}) }}

        {{ form_row(fields.work_duration,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.tungsten_power,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.fluorescent_power,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.energy_save_power,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    </div>
{% endblock collection_row_inner %}