{% extends 'MeraAuditBundle:Audit:form/fields.html.twig' %}
{% block collapseTitle %}
    Характеристики и протяженность трубопроводов
{% endblock %}
{% block collapseId %}pipeline{% endblock %}
{% form_theme form _self %}
{% block collapseBody %}
    <blockquote>
        <p class="lead">Какой-то текст</p>
    </blockquote>
    {{ form_widget(form.Pipelines) }}
{% endblock %}

{% block collection_row_inner %}
    <div class="row">
        {{ form_row(fields.name,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.length,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.diameter,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.insulation,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.operation_period,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.PipelineInstallationType,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    </div>
{% endblock collection_row_inner %}
