{% extends 'MeraAuditBundle:Audit:form/fields.html.twig' %}
{% block collapseTitle %}
    Количество и мощность трансформаторов
{% endblock %}
{% block collapseId %}transofrmator{% endblock %}
{% form_theme form _self %}
{% block collapseBody %}
    <blockquote>
        <p class="lead">Какой-то текст</p>
    </blockquote>
    {{ form_widget(form.Transformators) }}
{% endblock %}

{% block collection_row_inner %}
    <div class="row">
        {{ form_row(fields.year,{"attr":{"exclass":"span1", "class":"input-mini" }}) }}
        {{ form_row(fields.quantity,{"attr":{"exclass":"span2", "class":"input-medium" }}) }}
        {{ form_row(fields.higher_voltage,{"attr":{"exclass":"span2", "class":"input-medium" }}) }}
        {{ form_row(fields.individual_capacity,{"attr":{"exclass":"span2", "class":"input-medium" }}) }}
        {{ form_row(fields.installed_power,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    </div>
{% endblock collection_row_inner %}