{% extends 'MeraAuditBundle:Audit:form/collection.html.twig' %}
{% block collapseTitle %}
    Количество и мощность трансформаторов
{% endblock %}
{% block collapseId %}transofrmator{% endblock %}
{% form_theme form _self %}
{% block collapseBody %}
    <blockquote>
        <p class="lead">Какой-то текст</p>
    </blockquote>
    {{ form_widget(form.Transformators) }}
{% endblock %}

{% block collection_row_inner %}
    <div class="span3">
        {{ form_row(fields.year) }}
        {{ form_row(fields.quantity) }}
    </div>
    <div class="span3">
        {{ form_row(fields.individual_capacity) }}
    </div>
    <div class="span3">
        {{ form_row(fields.higher_voltage) }}
    </div>
    <div class="span3">
        {{ form_row(fields.installed_power) }}
    </div>
{% endblock collection_row_inner %}