{% extends 'MeraManageBundle::layout.html.twig' %}
{% block body %}
    <h2>Редактирование почтового отделения</h2>
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="{{ path('facility') }}"><i class="icon-th-list"></i> К
                списку</a>
            <a class="btn" href="{{ path('facility_delete', { 'id': entity.id }) }}"><i class="icon-remove""></i>
                Удалить</a>
        </div>
    </div>

    <form action="{{ path('facility_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> Сохранить</button>
        </p>
    </form>

{% endblock %}