{% extends 'MeraAuditBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="span12">
            <h2>Опросный лист ({{ common.facility.name }})</h2>

            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn" href="{{ path('audit') }}"><i class="icon-edit"></i> Сохранить</a>
                    <a class="btn" href="{{ path('audit') }}"><i class="icon-check""></i>
                        Проверить</a>
                    <a class="btn" href="{{ path('audit') }}"><i class="icon-share""></i>
                        Отправить</a>
                </div>
            </div>
        </div>
        <div class="span12">

            <form action="{{ path('audit') }}" method="post" {{ form_enctype(form) }}>
                <div class="accordion">
                    {% include 'MeraAuditBundle:Audit:form/items/common.html.twig' %}
                    {% include 'MeraAuditBundle:Audit:form/items/buildings.html.twig' %}
                    {% include 'MeraAuditBundle:Audit:form/items/floorplan.html.twig' %}
                    {% include 'MeraAuditBundle:Audit:form/items/constructelem.html.twig' %}
                    {% include 'MeraAuditBundle:Audit:form/items/consumptionmeter.html.twig' %}
                    {% include 'MeraAuditBundle:Audit:form/items/electroequipment.html.twig' %}
                    {% include 'MeraAuditBundle:Audit:form/items/lightssystem.html.twig' %}
                    {% include 'MeraAuditBundle:Audit:form/items/pipeline.html.twig' %}
                    {% include 'MeraAuditBundle:Audit:form/items/fuelconsumption.html.twig' %}
                    {% include 'MeraAuditBundle:Audit:form/items/executiveperson.html.twig' %}
                    {% include 'MeraAuditBundle:Audit:form/items/personal.html.twig' %}
                </div>
                {{ form_rest(form) }}
            </form>
            <a href="#p3">Документация по системе отопления</a>
            <a href="#p3">Документация по системе вентиляции и кондиционирования</a>
            <a href="#p3">Сведения о программе энергосбережения и повышения энергоэффективности</a>
            <a href="#p3">Перечень проведенных мероприятий по энергосбережению</a>
            <a href="#p3">Годовое потребление энергоресурсов в натуральном и финансовом выражении</a>
            <a href="#p3">Количество работающего персонала, время работы</a>
            <a href="#p3">Производство продукции в натуральном выражении</a>
            <a href="#p3">Схемы электроснабжения</a>
            <a href="#p3">Подготовить копии договоров</a>
            <a href="#p3">Годовой объем средств, выделяемый на содержание организации</a>
            <a href="#p3">Количество и мощность трансформаторов</a>
        </div>
    </div>
{% endblock %}